.about-us {
  display: flex;
}

.about-us__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-headers;
  font-weight: 700;
  letter-spacing: calc(1em / 9);
}

.about-us__text {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  color: $font-color;
}

.about-us__questions {
  margin-top: 0;
  margin-bottom: 0;
}

.about-us__wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.about-us__form-link {
  border: none;
  background-color: transparent;
  padding: 0;
  font: inherit;
  color: $orange;

  &:active {
    color: $active-link-color;
  }
}

@media (min-width: $min-tablet-width) {
  .about-us {
    min-height: 836px;
  }

  .about-us__wrapper {
    width: 100%;
    max-width: 1440px;
    padding-right: 13.19%;
    padding-left: 13.19%;
    padding-bottom: 92px;
    flex-direction: column;
    text-align: end;
    background-image: url("../../img/bg-about-us_desktop@1x.jpg");
    background-position: top 231px left 20.5%;
    background-repeat: no-repeat;
    background-size: 36.1% auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-about-us_desktop@2x.jpg");
      background-position: top 231px left 20.5%;
      background-repeat: no-repeat;
      background-size: 36.1% auto;
    }
  }

  .about-us__heading {
    padding-top: 36px;
    padding-bottom: 42px;
    color: $brown;
    font-size: 48px;
    line-height: 59px;
  }

  .about-us__text {
    width: 100%;
    padding-left: 65%;
    padding-bottom: 29px;
    font-size: 24px;
    line-height: 30px;
  }

  .about-us__questions {
    margin-top: auto;
    width: 100%;
    padding-left: 57%;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: calc(1em / 9);
    color: $font-color;
  }

  .about-us__form-link:hover {
    font-size: 25px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .about-us {
    min-height: 760px;
  }

  .about-us__wrapper {
    width: 100%;
    max-width: 375px;
    padding-right: 7.8%;
    padding-left: 7.8%;
    padding-bottom: 30px;
    flex-direction: column;
    text-align: end;
    background-color: $brown;
    background-image: url("../../img/bg-about-us_mobile@1x.jpg");
    background-position: top -80px center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-about-us_mobile@2x.jpg");
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .about-us__heading {
    display: block;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    color: $white;
    font-size: 34px;
    line-height: 41px;
  }

  .about-us__text {
    width: 100%;
    padding-bottom: 25px;
    font-size: 17px;
    line-height: 21px;
    color: $white;
  }

  .about-us__questions {
    width: 100%;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: calc(1em / 9);
    color: $white;
  }

  .about-us__form-link:hover {
    font-size: 19px;
  }
}
