.catalog__section {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 13.19%;
    padding-left: 13.19%;
    margin-left: auto;
    margin-right: auto;
}

.catalog__description-wrapper {
    display: flex;
    justify-content: space-between;
}

.catalog__description-text-wrapper {
    display: block;
    text-align: right;
}

.catalog_heading {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: $font-headers;
    font-weight: 700;
    display: block;
    text-align: right;
    letter-spacing: calc(1em / 9);
    color: $orange;
}

@media (min-width: $min-tablet-width) {
    .catalog__section {
        padding-top: 6px;
    }

    .catalog_heading {
        font-size: 24px;
        line-height: 29px;
    }

    .catalog__description-wrapper {
        flex-direction: row;
        padding-top: 100px;
    }
}
