.catalog__section article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog__description-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.catalog__description-text-wrapper {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog_heading {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: $font-headers;
  font-weight: 700;
  display: block;
  text-align: right;
  letter-spacing: calc(1em / 9);
  color: $orange;
}

.catalog__article-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-headers;
  font-weight: 700;
  display: block;
  text-align: right;
  letter-spacing: calc(1em / 7);
  color: $brown;

  &::first-letter {
    color: $orange;
  }
}

.catalog__description-text {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  color: $font-color;
  font-weight: 400;

  &:last-of-type {
    margin-top: auto;
  }
}

@media (min-width: $min-tablet-width) {
  .catalog__section article {
    width: 1440px;

    @include centered($padding-desktop);
  }

  .catalog__section {
    padding-top: 18px;
    padding-bottom: 190px;
    min-width: 1440px;
  }

  .catalog_heading {
    max-width: 1440px;

    @include centered($padding-desktop);
    font-size: 24px;
    line-height: 29px;
  }

  .catalog__article-heading {
    margin-bottom: 137px;
    font-size: 24px;
    line-height: 29px;
  }

  .catalog__description-text {
    padding-left: 30%;
    font-size: 24px;
    line-height: 30px;

    &:last-of-type {
      padding-bottom: 76px;
    }
  }

  .catalog__description-wrapper {
    flex-direction: row;
    padding-top: 88px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .catalog__section article {
    max-width: 375px;

    @include centered($padding-mobile);
  }

  .catalog__description-wrapper {
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    padding-top: 75px;
  }

  .catalog__section {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 54px;
    background-image: url("../img/stitching-horisontal-mobile.svg");
    background-position: top 25px left;
    background-repeat: no-repeat;
    background-size: 30%;
  }

  .catalog_heading {
    white-space: pre;
    max-width: 375px;

    @include centered($padding-mobile);
    padding-top: 20px;
    font-size: 17px;
    line-height: 21px;
  }

  .catalog__article-heading {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 17px;
    line-height: 21px;
  }

  .catalog__description-text {
    font-size: 17px;
    line-height: 21px;

    &:last-of-type {
      margin-top: 57px;
    }
  }
}
