.conditions__description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.conditions__heading,
.conditions__text {
  margin-top: 0;
  margin-bottom: 0;
}

.conditions__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.conditions__heading {
  display: block;
  font-family: $font-headers;
  font-weight: 700;
  letter-spacing: calc(1em / 7);
  text-transform: uppercase;
  color: $orange;
}

.conditions__text {
  font-style: italic;
  color: $font-color;
}

.conditions_tel {
  color: $orange;
}

.conditions__form-link {
  border: none;
  background-color: transparent;
  padding: 0;
  font: inherit;
  color: $orange;

  &:active {
    color: $active-link-color;
  }
}

@media (min-width: $min-tablet-width) {
  .conditions {
    min-width: $min-desktop-width;
  }

  .conditions__wrapper {
    max-width: 1440px;
    min-height: 651px;

    @include centered($padding-desktop);
  }

  .conditions__heading {
    padding-top: 203px;
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 29px;
  }

  .conditions__text {
    font-size: 24px;
    line-height: 30px;
    padding-right: 50%;
    padding-bottom: 18px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .conditions__wrapper {
    max-width: 375px;
    min-height: 430px;

    @include centered($padding-mobile);
    margin-bottom: 25px;

    &::after {
      position: absolute;
      content: "";
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      min-height: 193px;
      background-image: url("../../img/bg-shipping-mobile@1x.jpg");
      background-position: bottom left;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }

  .conditions__heading {
    padding-top: 0;
    text-align: right;
    font-size: 17px;
    line-height: 21px;
  }

  .conditions__text {
    text-align: right;
    font-size: 17px;
    line-height: 21px;
    padding-top: 35px;
    background-color: $white;
    border-radius: 15px;
  }
}
