.go-top-button {
  display: none;
  position: fixed;
  width: 31px;
  height: 31px;
  bottom: 20vh;
  right: 12%;
  z-index: 2;
  border-radius: 50%;
  background-color: $transparent-white;
  background-image: url("../img/go_top.svg");
  box-shadow: 2px 0 2px 1px $background-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  animation: blinking 1300ms 2;
}

@keyframes blinking {
  0% {
    background-color: $transparent-white;
    box-shadow: 0 0 5px $orange;
  }

  50% {
    background-color: $white;
    box-shadow: 0 0 15px $orange;
  }

  100% {
    background-color: $transparent-white;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .go-top-button {
    right: 3.2%;
  }
}

.go-top-button--active {
  display: block;
}
