.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: $background-block;
  font-size: 40px;
}

.image-slider .swiper-pagination {
  bottom: 0;
}

.image-slider .swiper-pagination-bullet {
    background-color: $orange;
  }

@media (min-width: $min-tablet-width) {
  .image-slider {
    max-width: 520px;
    padding-bottom: 70px;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    background-color: $orange;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .image-slider {
    width: 100%;
    padding-bottom: 28px;
  }

  .image-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    background-color: $orange;
  }

  .image-slider .swiper-button-prev,
  .image-slider .swiper-button-next {
    display: none;
  }
}
