.information,
.information__item {
    display: flex;
    padding: 0;
    padding-top: 15px;
    margin: 0;
}

.information__item-link {
        display: block;
        font-family: $font;
        font-weight: bold;
}

@media (min-width: $min-tablet-width) {
    .information {
        min-width: 510px;
        max-width: 800px;
        margin-top: 17px;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .information__item-link {
        width: 100px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 25px;
        font-size: 20px;
        line-height: 26px;
        text-align: left;
    }
}
