.main section:nth-child(odd) {
  background-color: $background-block;
}

.main section.conditions__description {
  background-color: $white;
}

@media (min-width: $min-tablet-width) {
  .main {
    display: block;
  }

  .main__conditions section,
  .main__conditions section:last-child {
    background-image: url("../img/stitching-horizontal.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 40%;
  }

  .main--inner-page section {
    &:nth-child(3) {
      background-image: url("../img/stitching-horizontal.svg");
      background-position: top 15px left;
      background-size: 40%;
    }

    &:last-child {
      background-position: top 15px left;
    }
  }

  .main__catalog section {
    background-image: url("../img/stitching-horizontal.svg");
    background-position: top 15px left;
    background-size: 40%;
    background-repeat: no-repeat;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .main section {
    &:nth-child(3) {
      background-color: $brown;
    }
  }

  .main--inner-page section {
    &:nth-child(3) {
      background-color: $background-block;
    }
  }
}
