.main section:nth-child(odd) {
  background-color: $background-block;
}

@media (min-width: $min-tablet-width) {
  .main section {
    background-color: $white;
    background-image: url("../img/stitching.svg");
    background-position: 14.2% 0;
    background-repeat: no-repeat;
    background-size: auto;

    &:last-child {
      background-position: bottom 800px left 14.2%;
    }

    &:nth-child(3) {
      background-image: linear-gradient(to right, $brown 44.1%, $background-block 44.1%);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 0;
    }
  }

  .main--inner-page section {
    &:nth-child(3) {
      background-image: url("../img/stitching-gorizontal.svg");
      background-position: 0 0;
      background-size: 30%;
    }

    &:last-child {
      background-position: 14.2% 0;
    }
  }

  .main__catalog section {
    background-image: url("../img/stitching-gorizontal.svg");
    background-position: 0 0;
    background-size: 30%;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .main section {
    background-image: url("../img/stitching-gorizontal-mobile.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 40%;

    &:nth-child(3) {
      background-color: $brown;
    }
  }

  .main--inner-page section {
    &:nth-child(3) {
      background-color: $background-block;
    }
  }
}
