.main section:nth-child(odd) {
  background-color: $background-block;
}

.main section.conditions__description {
  background-color: $white;
}

@media (min-width: $min-tablet-width) {
  .main section {
    background-color: $white;
    background-image: url("../img/stitching.svg");
    background-position: 14.2% 0;
    background-repeat: no-repeat;
    background-size: auto;

    &:last-child {
      background-position: bottom 800px left 14.2%;
    }

    &:nth-child(3) {
      background-image: linear-gradient(to right, $brown 44.1%, $background-block 44.1%);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 0;
    }
  }

  .main__conditions section,
  .main__conditions section:last-child {
    background-image: url("../img/bg-shipping-desktop@1x.jpg"),
    url("../img/stitching-gorizontal.svg"),
  linear-gradient(to right, $white 55.8%, $brown 55.8%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left 79.5%, 0 0, 0 0;
    background-size: 36% auto, 30%, 100%;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-shipping-desktop@2x.jpg"),
      url("../img/stitching-gorizontal.svg"),
      linear-gradient(to right, $white 55.8%, $brown 55.8%);
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: top left 79.5%, 0 0, 0 0;
      background-size: 36% auto, 30%, 100%;
    }
  }

  .main--inner-page section {
    &:nth-child(3) {
      background-image: url("../img/stitching-gorizontal.svg");
      background-position: 0 0;
      background-size: 30%;
    }

    &:last-child {
      background-position: 14.2% 0;
    }
  }

  .main__catalog section {
    background-image: url("../img/stitching-gorizontal.svg");
    background-position: 0 0;
    background-size: 30%;
  }
}

.main__conditions section {
  background-image: url("../img/stitching-gorizontal.svg");
  background-position: 0 0;
  background-size: 30%;
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .main section {
    // background-image: url("../../img/stitching-horisontal-mobile.svg");
    // background-position: 0 0;
    // background-repeat: no-repeat;
    // background-size: 40%;

    &:nth-child(3) {
      background-color: $brown;
    }
  }

  .main--inner-page section {
    &:nth-child(3) {
      background-color: $background-block;
    }
  }
}
