.page-footer__information,
.page-footer__social {
  list-style: none;

  a {
    text-transform: lowercase;

    &:hover {
      font-size: 21px;
    }

    &:active {
      color: $active-link-color;
    }
  }
}

@media (min-width: $min-tablet-width) {
  .page-footer__text {
    display: none;
  }

  .page-footer {
    min-height: 147px;
    background-color: $background-block;
    min-width: $min-desktop-width;
  }

  .page-footer__wrapper {
    max-width: 1440px;
    min-width: $min-desktop-width;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    @include centered($padding-desktop);
  }

  .page-footer__information,
  .page-footer__social {
    a {
      color: $brown;
    }
  }

  .page-footer__logo-icon {
    fill: #5e4338;
    margin-top: 15px;
    margin-right: 75px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .page-footer {
    min-height: 292px;
    background-color: $brown;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    @include centered($padding-mobile);
  }

  .page-footer__logo {
    display: none;
  }

  .page-footer__text {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    text-transform: lowercase;
    font-size: 17px;
    line-height: 21px;
    color: $white;
  }
}
