.page-header__title,
.page-header__text {
  margin-top: 0;
  margin-bottom: 0;
}

.page-header__promo-button {
  display: flex;
  position: absolute;
  left: 50%;

  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 2px;
    bottom: 0;
    transform: rotate(45deg);
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
  }
}

@media (min-width: $min-tablet-width) {
  .page-header__logo-icon {
    fill: #5e4338;
  }

  .page-header {
    position: relative;
    min-height: 836px;
    width: 1440px;

    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/bg-header-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 520px auto;
    background-position: 730px 184px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {

      background-image: url("../img/bg-header-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 520px auto;
      background-position: 730px 184px;
    }
  }

  .page-header--inner-page {
    min-height: 185px;
    background-image: none;
  }

  .page-header__container {
    width: 1440px;
    padding-left: 190px;
    padding-right: 190px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .page-header__wrapper {
    background-image: linear-gradient(to right, $white 53.8%, $brown 53.8%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    min-width: $min-desktop-width;
  }

  .page-header__wrapper--inner-page {
    background-image: none;
  }

  .page-header__logo {
    margin-top: 24px;
    width: 100px;
    height: 100px;
  }

  .page-header__promo {
    position: relative;
    width: 620px;
    padding-top: 216px;
    padding-left: 190px;
    font-size: 24px;
    line-height: 29px;
    color: $brown;
  }

  .page-header__title span,
  .page-header__text {
    font-size: 24px;
    line-height: 29px;
    color: $brown;
  }

  .page-header__title {
    padding-bottom: 5px;
    font-family: $font-headers;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: calc(1em / 7);

    b {
      font-family: $font-headers;
      color: $orange;
    }

    span {
      text-transform: lowercase;
      letter-spacing: 0;
      font-weight: 400;
      font-family: $font;
    }
  }

  .page-header__promo-button {
    left: 531px;
    bottom: -307px;
    width: 20px;
    height: 28px;

    &::after {
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      border-bottom: 2px solid $brown;
      border-right: 2px solid $brown;
    }

    &::before {
      height: 30px;
      width: 2px;
      background-color: $brown;
      left: 8px;
    }

    &:hover {
      bottom: -311px;
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .page-header__container {
    position: relative;
    min-height: 83px;
    width: 100%;
  }

  .page-header__logo {
    display: flex;
    width: 50px;
    height: 50px;
    padding-top: 13px;
  }


  .page-header {
    background-color: $white;
    background-image: url("../img/main-bg-mobile@1x.png"),
      url("../img/stitching-mobile-brown.svg");
    background-size: cover, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: center 83px, top 200px left 7.8%;
    min-height: 544px;
    flex-direction: column;
    min-width: 320px;

    @include centered($padding-mobile);

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bg-mobile@2x.png"),
        url("../img/stitching-mobile-brown.svg");
      background-size: cover, auto;
      background-repeat: no-repeat, no-repeat;
      background-position: center 83px, top 200px left 7.8%;
    }

    .page-header__logo-icon {
      fill: $brown;
      width: 50px;
      height: 50px;
    }
  }

  .page-header--inner-page {
    min-height: 80px;
    background-image: none;
  }

  .page-header__promo {
    width: 270px;
    padding-top: 155px;
    font-size: 17px;
    line-height: 21px;
    color: $white;
  }

  .page-header__title span,
  .page-header__text {
    font-size: 17px;
    line-height: 21px;
    color: $white;
  }

  .page-header__title {
    padding-bottom: 8px;
    font-family: $font-headers;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;

    b {
      font-family: $font-headers;
      color: $orange;
    }

    span {
      text-transform: lowercase;
      font-weight: 400;
      font-family: $font;
    }
  }

  .page-header__promo-button {
    display: none;
  }

  .page-header--nav-opened {
    background-color: $brown;
    background-image: url("../img/stitching-mobile-white.svg");
    background-size: 27px 428px;
    background-repeat: no-repeat;
    background-position: 7.8% -30px;
    min-height: 900px;
    flex-direction: column;
    min-width: 320px;
    padding-right: 7.8%;
    padding-left: 7.8%;
    margin-left: auto;
    margin-right: auto;

    .page-header__logo-icon {
      fill: $white;
      width: 50px;
      height: 50px;
    }

    .page-header__promo {
      display: none;
    }

    .page-header__logo {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
