.preferences {
    display: flex;
}

.preferences__list {
    display: flex;
    list-style: none;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.prefernces__item {
    background-position: top center;
    background-repeat: no-repeat;
    width: 100px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 100px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    background-size: 100px 100px;
    background-color: $white;

    &:first-of-type {
        background-image: url("../../img/sewing_machine-icon.svg");
    }

    &:nth-of-type(2) {
        background-image: url("../../img/truck-icon.svg");
    }

    &:last-of-type {
        background-image: url("../../img/restaurant_menu.svg");
    }
}

@media (min-width: $min-tablet-width) {
    .preferences {
        min-height: 291px;
        padding-right: 13.19%;
        padding-left: 13.19%;
    }
    .preferences__list {
        padding-top: 60px;
        flex-direction: row;
        justify-content: space-between;
        min-width: 620px;

    }

    .prefernces__item {
        &:nth-of-type(2),
        &:last-of-type {
            height: 145px;
            padding-top: 120px;
            background-position: top 10px center;
        }

        &:nth-of-type(2) {
            width: 110px;
            background-position: top 10px left 10px;
        }
    }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
    .preferences {
        min-height: 291px;
        padding-right: 13.19%;
        padding-left: 13.19%;
        background-color: $white;
        background-image: url("../../img/stitching-mobile-brown.svg");
        background-position: bottom 42px left 7.8%;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .preferences__list {
        padding-top: 60px;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 730px;
    }

    .prefernces__item {
        margin-bottom: 90px;
        background-position: top left 5px;
        &:nth-of-type(2),
        &:last-of-type {
            height: 145px;
            padding-top: 120px;
        }

        &:nth-of-type(2) {
            width: 110px;
            background-position: top 10px center;
        }

        &:last-of-type {
            margin-bottom: 75px;
            background-position: top 10px left 5px;
        }
    }
}
