.social {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.social__item .social__link {
  display: flex;
}

.social__link:active > .social__icon {
  fill: $active-link-color;
}

button.social__link {
  border: none;
  background-color: transparent;
  padding: 0;
}

@media (min-width: $min-tablet-width) {
  .social {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 20px;
    position: relative;
    min-height: 68px;
    align-self: center;
    border-right: 1px dashed $orange;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 5px;
      height: 100%;
      min-height: 68px;
      right: 3px;
      bottom: 0;
      border-right: 1px dashed $orange;
      border-left: 1px dashed $orange;
    }
  }

  .social__link {
    width: 30px;
    height: 30px;
  }

  .social__item {
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .social__item-instagram {
    padding-left: 2px;
  }

  .social__icon {
    fill: $brown;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .social {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 70%;
    margin-top: 20px;
    margin-left: 0;
    height: 68px;
  }

  .social__link {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .social__icon {
    fill: $white;
  }
}
