// Fonts

$font-headers: "Montserrat",
  "Helvetica",
  "Arial",
  sans-serif;

$font: "Lora",
  "Times New Roman",
  serif;


// regular - 400


// Colors

$background-block: #e0e0e0;
$white: #f5f5f5;
$transparent-white: rgba(245, 245, 245, 0.7);
$brown: #5e4338;
$font-color: #1a120f;
$orange: #ff6b35;
$active-link-color: #af5737;
$smoky: rgba(218, 210, 210, 0.7);

// Viewport

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$min-desktop-width: 1024px;
$max-desktop-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
